---
import DocLayout from '../../layouts/DocLayout.astro';
---

<DocLayout title="Github!">
  <section class="prose max-w-none text-base/9">
    <p class="text-lg">
      Feel free to see our 
      <a 
        href="https://github.com/nabeellagi/KardSkript" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="font-bold text-primary"
      >
        source code!
      </a> 
      at Github!
    </p>
  </section>
</DocLayout>
