---
import DocLayout from '../../layouts/DocLayout.astro';
---

<DocLayout title="Welcome to KardSkript!">
  <section class="prose max-w-none text-base/9">
    <p class="text-lg">
      Welcome to <span class="font-bold text-primary">KardSkript!</span>, your new place for interactive flashcard scripting!
    </p>

    <p>
      With KardSkript, you can:
    </p>
    <ul class="list-disc list-inside">
      <li>Create customizable flashcards with simple scripting</li>
      <li>Study visually and freely on your own boards</li>
      <li>Share decks with your peers!</li>
    </ul>

    <p>
      Start exploring the docs to see how to write your first deck!
    </p>
  </section>
</DocLayout>
