---
import DocLayout from '../../../layouts/DocLayout.astro';
---

<DocLayout title="Image Support">
  <section class="prose max-w-none text-base/9">
    <p class="text-lg">
      COMING SOON!!
    </p>
  </section>
</DocLayout>
