@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: night;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(94% 0.029 294.588);
  --color-base-300: oklch(94% 0.033 307.174);
  --color-base-content: oklch(38% 0.189 293.745);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(97% 0.014 343.198);
  --color-secondary: oklch(55% 0.013 58.071);
  --color-secondary-content: oklch(98% 0.001 106.423);
  --color-accent: oklch(72% 0.219 149.579);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(28% 0.141 291.089);
  --color-neutral-content: oklch(96% 0.016 293.756);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }