---
import HomePage from '../components/Home';
import '../styles/global.css';

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>KardSkrip - Create Flashcard Using Custom Scripting</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
		onload="renderMathInElement(document.body, { delimiters: [{left: '$$', right: '$$', display: true}] });">
		</script>

	</head>
	<body>
		<HomePage client:load />
	</body>
</html>