---
import Sidebar from '../components/Sidebar.jsx';
import '../styles/global.css';

const { title = "KardSkript Docs", children, current = "" } = Astro.props;
---

<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KardSkript docs : {title}</title>
  </head>
  <body class="bg-base-100 text-base-content font-sans">
    <div class="min-h-screen flex flex-col md:flex-row">
      <Sidebar currentPath={current} client:load />

      <main class="flex-1 p-8 mt-12 md:p-10">
        <article id="doc-content" class="max-w-none">
          <h1 class="text-4xl font-bold pb-8 text-primary">{title}</h1>
          <slot/>
        </article>
      </main>
    </div>
  </body>
</html>
